.itens{
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    gap: 0.5em;
    margin: 1.5em 0 0 0;
}
.linha_pontilhada{
    position: relative;
    width: 100%; /* Ou ajuste a largura conforme necessário */
    border-top: 0.125em dotted var(--coral); /* Cria a linha pontilhada */
}

.itens_compras{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.itens_compras_conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5em;
}

.itens_titulo{
    font-size: 1.125rem;
    color: var(--coral);
    font-family: var(--font-1);
    font-weight: 400;
}

.itens_compras_titulo{
    font-size: 1rem;
    color: var(--marinho);
    font-family: var(--font-2);
    font-weight: 400;
}
.itens_texto{
    font-size: 1rem;
    font-weight: 400;
    color: var(--marinho);
    font-family: var(--font-2);
}

.itens_edicao{
    display: flex;
    gap: 0.6em;
}

.itens_edicao_img:hover{
    filter: brightness(0) saturate(100%) invert(23%) sepia(40%) saturate(3713%) hue-rotate(336deg) brightness(99%) contrast(84%); /*filtro gerado da cor ocre*/
}

.input_checkbox{ /*apenas o input (botao)*/
    display: none;
}

.checkbox_customizado{ /*div para customizar o checkbox*/
    width: 24px;
    height: 24px;
    border: 1px solid var(--marinho);
    border-radius: 4px;
    background-color: var(--cinza-claro);
    cursor: pointer;
}

.checked{
    background-color: var(--marinho);
    position: relative;
}

.checkbox_customizado.checked::after{
    content:"";
    border-top: 2px solid var(--cinza-claro);
    border-left: 2px solid var(--cinza-claro);
    position: absolute;
    top: 4px;
    left: 8px;
    height: 14px;
    width: 5px;
    transform: rotate(220deg);
}